@font-face {
	font-family: "montserratregular";
	src: url('../fonts/montserrat-regular-webfont.eot');
	src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg'),
	url('../fonts/montserrat-regular-webfont.woff') format('woff'),
	url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: "montserratbold";
	src: url('../fonts/montserrat-bold-webfont.eot');
	src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg'),
	url('../fonts/montserrat-bold-webfont.woff') format('woff'),
	url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: "geometrixblack";
	src: url('../fonts/geometrix_black-webfont.eot');
	src: url('../fonts/geometrix_black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/geometrix_black-webfont.svg#geometrixblack') format('svg'),
	url('../fonts/geometrix_black-webfont.woff') format('woff'),
	url('../fonts/geometrix_black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: "geometrixmedium";
	src: url('../fonts/geometrix_medium-webfont.eot');
	src: url('../fonts/geometrix_medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/geometrix_medium-webfont.svg#geometrixmedium') format('svg'),
	url('../fonts/geometrix_medium-webfont.woff') format('woff'),
	url('../fonts/geometrix_medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
strong {
	font-family: "montserratbold" !important;
	font-weight: normal !important;
	font-style: normal !important;
	font-variant: normal !important;
}
body, html {
	overflow: hidden;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-variant: normal;
	font-style: normal;
	color: #1e1e1e;
}
img {
	margin: auto;
	width: auto;
}

/*Les Marqueurs - Studio de création 360°*/
.container {
	padding-top: 0;
	padding-bottom: 80px;
	text-align: center;
}
p {
	font-family: "montserratregular";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	text-align: justify;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1px;
	text-indent: 38px;
}
.headergif img{
	width:100%;
	}

#image-slider {
	position: relative;
}
#image-slider > div {
	overflow: hidden;
}
#videoheader {
	position: relative;
	overflow: hidden;
}
.header {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	display: block;
	overflow: hidden;
	background-color: #000000;
}
.content {
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}
/* centre the content in the parallax layers */
.titre {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 256px;
	height: 135px;
	background-image: url("../img/lesmarqueursblancgrand.png");
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
}
.scrolldown {
	font-family: "geometrixblack";
	text-align: center;
	color:#FFFFFF;
	font-size:14px;
	text-transform:uppercase;
	position: absolute;
	left: 50%;
	top: 90%;
	height: 110px;
	z-index: 100;
	padding-top: 45px;
	background-image: url("../img/traits.png");
	letter-spacing: 5px;
	background-repeat:no-repeat;
	background-position: center -770px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

h1.ligne1, h1.ligne2, h1.ligne3 {
	text-align: center;
	font-family: "geometrixblack";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	text-indent: 0;
	margin: 0;
}
h1.ligne2 {
	line-height: 30px;
	font-size: 30px;
}
h1.ligne3 {
	line-height: 30px;
	font-size: 12px;
	font-family: "montserratregular";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
}
strong {
	font-family: "montserratbold";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
}
h2 {
	font-family: "geometrixblack";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
/*GOOGLE MAP*/
#googlemap {
	width: 100%;
	height: 300px;
	display: block;
	background-color: #1e1e1e;
}
.nombresocial {
	font-family: "montserratbold";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 25px;
}
.liensocial {
	font-family: "montserratregular";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 11px;
	text-transform: uppercase;
}
.reseausocial {
	font-family: "montserratbold";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 11px;
	text-transform: uppercase;
}
.row {
	margin-top: 80px;
}
a.travailsocial:link, a.travailsocial:visited {
	margin: auto;
	display: block;
	color: #1e1e1e;
	background-color: #f0efef;
	margin-bottom: 60px;
	width: 240px;
	height: 42px;
	padding-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "geometrixblack";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 12px;
	letter-spacing: 3px;
	outline: none;
}
a.travailsocial:hover, a.travailsocial:active {
	color: #f0efef;
	outline: none;
}
a.travailsocial#behance:hover, a.travailsocial#behance:active {
	background-color: #2d9ad2;
}
a.travailsocial#dribbble:hover, a.travailsocial#dribbble:active {
	background-color: #ea4c89;
}
a.travailsocial#vimeo:hover, a.travailsocial#vimeo:active {
	background-color: #17b3e8;
}
a.bouton:link, a.bouton:visited, input#mc-embedded-subscribe {
	margin: auto;
	display: block;
	height: 110px;
	padding-top: 45px;
	color: #1e1e1e;
	text-decoration: none;
	text-transform: uppercase;
	background-image: url("../img/traits.png");
	background-repeat: no-repeat;
	background-position: top center;
	outline: none;
	border: none;
	background-color: transparent;
	font-family: "geometrixblack";
	letter-spacing: 3px;
}
#mce-EMAIL {
	text-align: center;
	color: #1e1e1e;
}
input#mce-EMAIL:focus {
	color: #318ce7;
}
input#mc-embedded-subscribe {
	padding-top: 0px;
	margin-top: 80px;
}
a.bouton:active, a.bouton:hover, input#mc-embedded-subscribe:hover {
	background-position: center -110px;
	color: #318ce7;
}
.textebase {
	display: block;
}
.textehover {
	display: none;
}
a.bouton:hover span.textebase, a.bouton:active span.textebase {
	display: none;
}
a.bouton:hover span.textehover, a.bouton:active span.textehover {
	display: block;
}
a.bouton.blanc:link, a.bouton.blanc:visited {
	color: #ffffff;
	background-position: center bottom;
	padding-top: 55px;
}
a.bouton.blanc:hover, a.bouton.blanc:active {
	background-position: center -110px;
	color: #318ce7;
}
a.bouton.bleulinkedin:active, a.bouton.bleulinkedin:hover {
	color: #007bb6;
	background-position: center -220px;
}
a.bouton.justehover:link, a.bouton.justehover:visited {
	background: none;
	padding-top: 0;
	letter-spacing: 0;
	width: 210px;
	text-align: center;
}
a.bouton.justehover:hover, a.bouton.justehover:active {
	background-image: url("../img/traits.png");
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 45px;
	margin-top: -15px;
	letter-spacing: 3px;
}
a.bouton.justehover.facebook:hover, a.bouton.justehover.facebook:active {
	background-position: center -330px;
	color: #3b5998;
}
a.bouton.justehover.instagram:hover, a.bouton.justehover.instagram:active {
	background-position: center -440px;
	color: #aa785e;
}
a.bouton.justehover.twitter:hover, a.bouton.justehover.twitter:active {
	background-position: center -550px;
	color: #55acee;
}
a.bouton.justehover.youtube:hover, a.bouton.justehover.youtube:active {
	background-position: center -660px;
	color: #c13d38;
}
.boutonsanslien {
	background-image: url("../img/360.png");
	background-position: center;
	background-repeat: no-repeat;
}
a.bouton.sanslien:active, a.bouton.sanslien:hover {
	width: 500px;
	background-repeat: no-repeat;
	background-position: center -110px;
}
#telephone {
	margin: 80px 0;
}
#telephone a:link, #telephone a:visited {
	letter-spacing: 5px;
	font-family: "montserratbold";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #1e1e1e;
	outline: none;
}
#telephone a span {
	font-family: "montserratregular";
}
#mce-EMAIL {
	width: 360px;
	height: 30px;
	border: none;
	background-color: #f0eeef;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.blackback {
	background-color: #1e1e1e;
	color: #f0eeef;
	text-transform: uppercase;
}
.blackback .container {
	padding-top: 80px;
	padding-bottom: 80px;
}
.blackback.videovimeo .container {
	padding-top: 0px;
	padding-bottom: 0px;
}
.blackback .container .row {
	margin-top: 0px;
	line-height: 0;
}
.blackback .container #adresse {
	padding-top: 130px;
	padding-bottom: 130px;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "geometrixblack";
	letter-spacing: 3px;
	color: #ffffff;
}
.blackbackwood {
	background-image: url("../img/wood.png");
	font-family: "montserratregular";
	color: #ffffff;
	text-transform: uppercase;
}
.blackbackwood .container {
	padding-bottom: 64px;
}
.blackbackwood .container .row {
	margin-top: 64px;
}
.blackbackwood a:link, .blackbackwood a:visited {
	color: #f0eeef;
	text-decoration: none;
	outline: none;
	padding: 0 10px;
}
.blackbackwood a:hover, .blackbackwood a:active {
	color: #318ce7;
}
 @media (min-width: 1200px) {
.container {
	width: 970px;
}
}
 @media (max-width: 768px) {
.header{
	display:none;
	} 	
.content{
	height:100%;
	}
.row {
	margin-top: 25px;
}
a.bouton, input#mc-embedded-subscribe{
	font-size:10px;
	}
a.travailsocial:link, a.travailsocial:visited {
	margin-bottom: 30px;
}
#mce-EMAIL {
	width: 240px;
}
h1.ligne1{
	margin-top: 10px;
}
h1.ligne1, h1.ligne2, h1.ligne3 {
	font-size: 10px;
}
h1.ligne2 {
	line-height: 10px;
	font-size: 10px;
}
h1.ligne3 {
	line-height: 30px;
	font-size: 10px;
}
h2 {
	letter-spacing: 0px;
}
}
